module mongo_ftdc 1.0; 

require {
	type sysctl_fs_t;
	type mongod_t;
	type var_lib_nfs_t;
	class dir search;
}

#============= mongod_t ==============
allow mongod_t sysctl_fs_t:dir search;
allow mongod_t var_lib_nfs_t:dir search;
